.profile-form-container {
  width: 250px;
}

.profile-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.profile-form__radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-form__label {
  color: #6e7191;
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 2;
}

.profile-form__input {
  color: #14142b;
  font-size: 24px;
  letter-spacing: 0.75px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid;
}

.profile-form__input--gender {
  border-bottom: none;
}

.profile-form__input-radio {
  margin-right: 10px;
}

.profile-form__btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.profile-form__button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 9px;
  color: #4e4b66;
  background-color: #eff0f6;
  cursor: pointer;
  transition: all 0.5s;
}

.profile-form__button:hover {
  background-color: #d7d8dd;
}
