.cards-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 150px;
  row-gap: 50px;
  justify-content: left;

  /* justify-content: space-evenly; */
}

.card-item--add {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  cursor: pointer;

  height: 300px;
  width: 320px;

  background-color: #fff;
  border: 1px solid #d6d8e7;
  border-radius: 16px;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s;
}

.card-item--add:hover {
  transform: scale(0.97);
}

.card-item-icon {
  width: 70px;
  height: 70px;
}

.card-item-text {
  font-size: 20px;
}
